{% extends 'base.twig' %}

{# Permet de modifier le main afin qu'il correspondent pour un fichier avec un aside #}

{% block main %}
	<main role="main" class="main_row">
		<aside>
			{% block aside %}{% endblock %}
		</aside>
		<section>
			<h1>
				{{ section }}
			</h1>
			{% block section %}
				{% block article %}{% endblock %}
			{% endblock %}
		</section>
	</main>
{% endblock %}
